.Dictionary section {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 30px;
}

.Dictionary input {
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  padding: 8px 6px;
  width: 100%;
}

.Dictionary .hint {
  font-size: 12px;
  color: whitesmoke;
  font-size: 12.5px;
  font-family: "Red Hat Display", sans-serif;
  margin: 8px 0 0 6px;
  text-transform: lowercase;
  opacity: 0.8;
}

.Dictionary h1 {
  color: whitesmoke;
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
