.Meaning h3 {
  color: whitesmoke;
  font-size: 15px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .Definition {
  color: whitesmoke;
  font-size: 15px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
}

.Meaning .Example {
  color: whitesmoke;
  font-size: 15px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  opacity: 0.5;
  font-style: italic;
}
